.Contenedor{
    width: 100%;
    background-color: aliceblue;
}
.Header{
    color: black;
}
.Titulo{
    color: black;
}
.Contenido{
    color: black;
}

/* .flexBetween{
    display: flex;
    justify-content: space-between;
}
.flexCenter{
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    justify-content: center;
}
.flexGrid{
    display: flex;
    justify-content: center;
    align-items: center;
} */

.Card{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

/* Para los botones de los links */

.Button-link.active{
    color: red;
}

.Button-link {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
  }
  .Button-link:hover {
    border-color: #646cff;
  }
  .Button-link:focus,
  .Button-link:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }

  @media (prefers-color-scheme: light) {

    .Button-link:hover {
      color: #747bff;
    }
    .Button-link {
      background-color: #f9f9f9;
    }
  }